		.menu .ui-btn .ui-btn-inner { padding-top: 40px !important; }
		.menu .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
		#refresh .ui-icon { background:  url(icons/01-refresh@2x.png) 50% 50% no-repeat; background-size: 24px 22px; }
		#search .ui-icon { background: url(icons/06-magnify@2x.png) 50% 50% no-repeat; background-size: 12px 26px; }
		#favorites .ui-icon { background:  url(icons/29-heart@2x.png) 50% 50% no-repeat; background-size: 24px 16px;  }
		#comment .ui-icon { background:  url(icons/08-chat@2x.png) 50% 50% no-repeat;  background-size: 12px 26px; }
		#draw .ui-icon { background:  url(icons/187-pencil@2x.png) 50% 50% no-repeat;  background-size: 22px 27px; }
		#help .ui-icon { background:  url(icons/98-palette@2x.png) 50% 50% no-repeat;  background-size: 20px 24px; }
		#logout .ui-icon { background:  url(icons/54-lock@2x.png) 50% 50% no-repeat;  background-size: 22px 24px; }
		